/*.side {*/
/*    -ms-flex: 30%; !* IE10 *!*/
/*    flex: 30%;*/
/*    background-color: #f1f1f1;*/
/*    padding: 20px;*/
/*}*/

.sidebar {

    -ms-flex: 1%; /* IE10 */
    flex: 1%;
    background-color: #fafafb;
    padding: 10px;




    /*margin: 0; padding: 0;*/
    /*list-style: none;*/
    /*position: fixed;*/

    /*height: 100%;*/
    /*width: 160px;*/
    /*position: fixed;*/
    /*z-index: 1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #f1f1f1;*/
    /*overflow-x: hidden;*/
    /*padding-top: 16px;*/
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/*.main {*/
/*    margin-left: 160px; !* Same as the width of the sidenav *!*/
/*    padding: 0px 10px;*/
/*}*/

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}